{{> header}}

<section id="viewCatalog" class="background-img">
    {{#if loggedIn}}
        <a href="#/create" class="add-flight">Add Flight +</a>
    {{else}}
        <a href="#/login" class="add-flight">Add Flight +</a>
    {{/if}}

    <div class="added-flights">
            {{#each flights}}
                <a href="#/details/:{{_id}}" class="added-flight" data-id="{{_id}}">
                    <img src="{{img}}" alt="" class="picture-added-flight">
                    <h3>{{destination}}</h3>
                    <span>from {{origin}}</span><span>{{departureDate}}</span>
                </a>
            {{/each}}
    </div>
</section>

{{> footer}}